<h1>Ответ:</h1>
<table id = "result" border = 1>
    <tr>
    <th> Номер </th>
    <th> Отрезок </th>
    </tr>
    <tr>
        <td> Самый длинный </th>
        <td> <%= @result %> </th>
    </tr>
</table>

